<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= todo.title %></title>
</head>
<body>
  <h1><%= todo.title %></h1>
  <input type="hidden" id="todoId" value="<%= todo.id %>">

  <hr>

  <a href="/remove-todo/<%= todo.id %>">
    odebrat
  </a>
  &nbsp;
  <a href="/toggle-todo/<%= todo.id %>">
    <%= todo.done ? 'hotovo' : 'nehotvo' %>
  </a>

  <hr>

  <form method="post" action="/update-todo/<%= todo.id %>">
    <h2>Upravit todočko</h2>
    <label>Název</label>
    <input placeholder="Název todočka" name="title" value="<%= todo.title %>">
    <label>Priorita</label>
    <select name="priority">
      <option value="low" <%= todo.priority === 'low' ? 'selected' : '' %>>Low</option>
      <option value="normal" <%= todo.priority === 'normal' ? 'selected' : '' %>>Normal</option>
      <option value="high" <%= todo.priority === 'high' ? 'selected' : '' %>>High</option>
    </select>
    <button type="submit">Upravit</button>
  </form>

  <hr>

  <a href="/">Zpět na seznam</a>

  <script>
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (ev) => {
      const data = JSON.parse(ev.data)
      const todoId = Number(document.getElementById('todoId').value)

      if (data.type === 'todoUpdate' && data.todoId === todoId) {
        document.documentElement.innerHTML = data.html;
      }
    })
  </script>

</body>
</html>
